<ion-view title="Current Status">
  <ion-content class="padding">
    <div class="list card">
      <label class="item item-divider">
      <span class="label">Latest Temperature</span>
      <div class="item item-text-wrap">
        {{ currTemp }}
      </div>
      <span class="label">Sample Time</span>
      <div class="item item-text-wrap">
        {{ currTime }}
      </div>
      </label>
      <button class="button button-block button-positive" ng-click="refreshDash()">
        Refresh
      </button>
    </div>
  </ion-content>
</ion-view>
